.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
  %section
    %p TEMPORARY PLEASE REMOVE
    .row.text-center{style: "margin-bottom:1em;"}
      %h1.sr-only What is Find My Ride PA?
      %object{data: "images/about/title_2.svg", type: "image/svg+xml", "aria-label": "What is Find My Ride PA?"}
    %p{style: "margin-top:1em;"}
      = "FindMyRidePA is a Pennsylvania-based service designed to help anyone identify and evaluate options to meet their transportation needs. In some cases, users can even book a trip directly."
    %p
      -# = "Currently, FindMyRidePA is available in {{county_count}} ({{counties_string}}) and will be available in additional counties in the near future. At this time, the transportation services available through FindMyRidePA are limited to local public transportation options (i.e., fixed-route buses that operate on fixed schedules and "
      = "Currently, FindMyRidePA is available in {{counties}}) and will be available in additional counties in the near future. At this time, the transportation services available through FindMyRidePA are limited to local public transportation options (i.e., fixed-route buses that operate on fixed schedules and "
      = succeed ")" do
        %a{href: "#/about/sharedride", target: "_blank"}
          = "shared-ride services"
      = " but will be expanded over time to include commercial services (e.g. taxi, train, private bus carriers etc.) and other non-profit transportation services."
    %p
      = "Regardless of whether you are traveling to an unfamiliar area or you are traveling in your own community, FindMyRidePA can help you identify the best options to meet your needs in terms of cost, travel time and accessibility."
    %p
      = "If you have special transportation needs, FindMyRidePA can help you explore "
      = succeed "." do
        %a{href: "#/about/sharedride", target: "_blank", rel: "noopener noreferrer"}
          = "shared-ride services"
      = " Depending on your circumstances, these services may be available at a highly discounted rate or may even be free of charge."
    %p
      = "There are many public and private transportation options available throughout the Commonwealth. However, finding and comparing them can be complex. FindMyRidePA is intended to address this problem by providing access to these options through a single, easy to use website."
    %p
      = "FindMyRidePA was developed with funds from the Pennsylvania Department of Transportation and the Federal Transit Administration. The service grew out of an initiative to make transportation options more readily available to veterans, active military personnel and their families.  While our veterans and active military have been a special focus in the development of FindMyRidePA, the service benefits anyone who needs to identify transportation options in the Commonwealth. To learn more about the history of the project and the organizations who played a key role click "
      = succeed "." do
        %a{href: "#/about/projecthistory", target: "_blank", rel: "noopener noreferrer"}
          = "here"
    %h4
      %strong
        = "For more information or assistance using FindMyRidePA, call 1-844-PA4-RIDE."
  %section
    .row.text-center
      %h1.sr-only How It Works?
      %object{data: "images/about/subtitle_how_2.svg", type: "image/svg+xml", "aria-label": "How it Works?"}

    %p{style: "margin-top:1em;"}
      = "FindMyRidePA has been designed to be highly intuitive and easy to use. Simply enter your travel needs including your destination and desired date and time of departure and the system will present you with a list of potential travel options. To help you decide which option is best, FindMyRidePA includes an estimate of cost and travel time for each. You can then select the option which works best and print or email yourself an itinerary for the trip. In some cases, you can even book the trip directly."
  %section
    .row.text-center{style: "margin-bottom:1em;"}
      %h1.sr-only Shared Ride Registration
      %object{data: "images/about/shared_ride.svg", type: "image/svg+xml", "aria-label": "Shared Ride Registration"}

    %p
      = "When you use FindMyRidePA you can log in as a registered user or use the service as a guest. Some specialized transportation services require users to apply ahead of time. Pennsylvania offers highly discounted or free "
      %a{href: "#/about/sharedride", target: "_blank"}
        = "shared-ride services"
      = " to seniors, persons with disabilities and low income individuals. If you are not eligible or not interested in these services you can simply use FindMyRidePA as a guest user. If you are eligible for these services, you can "
      %a{href: "#/about/sharedride", target: "_blank"}
        = "register"
      = " for them. Once approved, you will be provided with an identification number which will allow you to use FindMyRidePA as a registered user. As a registered user, FindMyRidePA will include the specialized services you are eligible for in the list of transportation options it presents to you."

    %img{style: "margin-top:1em; height:100%; width:100%;", ng: {src: 'images/about/PennDOTLogo_RGB.jpg'}}
